<div id="fullscreen_bg" class="fullscreen_bg"/>
  <div class="container-signin">
  	<form class="form-signin" ng-submit='signin()'>
  		<h1 class="form-signin-heading text-muted">Sign In</h1>
  		<input type="text"
             class="form-control"
             placeholder="Username"
             required=""
             autofocus=""
             ng-model='user.username'>
  		<input type="password"
             class="form-control"
             placeholder="Password"
             required=""
             ng-model='user.password'>
  		<button class="btn btn-lg btn-primary btn-block" type="submit" >
  			Sign In
  		</button>
      <br />
      <p>Don't have an account?  <a href="#!/signup">Signup</a></p>
  </div>
</div>
